@import "tailwindcss";

@theme {
  --color-neon-purple: #b380ff;
  --color-neon-blue: #6699ff;
  --color-neon-gold: #ffaa00;
  --color-dark: #0a0a0f;
  --color-dark-card: #111118;
  --font-sans: "Inter", "system-ui", sans-serif;
}

@layer base {
  body {
    background: #0a0a0f;
    color: #e0e0ff;
    overflow-x: hidden;
  }
}

/* Scrollbar neón */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #0a0a0f;
}
::-webkit-scrollbar-thumb {
  background: #4a3a7a;
  border-radius: 3px;
}
